@model IEnumerable<BOL.tbl_Category>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    function ConfirmDelete() {
        return confirm('Are You sure to delete');
    }
</script>
<h2>Index</h2>  

@if (TempData["Msg"] != null)
{<h3>@TempData["Msg"].ToString()</h3>}

<p>@Html.ActionLink("Create New", "Create")</p>

<table class="table">
    <tr>
        <th>@Html.ActionLink("Category Name", "Index", new { sortOrder = ViewBag.SortOrder, SortBy = "CategoryName", Page = ViewBag.Page })</th>
        <th>@Html.ActionLink("Category Desc", "Index", new { sortOrder = ViewBag.SortOrder, SortBy = "CategoryDesc", Page = ViewBag.Page })</th>
        <th>Action</th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.CategoryName)</td>
            <td>@Html.DisplayFor(modelItem => item.CategoryDesc)</td>
            <td>
                @Html.ActionLink("Delete", "Delete", new { id = item.CategoryId }, new {onclick="return ConfirmDelete()" })
            </td>
        </tr>
    }
    @if (Model.Count() == 0) { 
        <tr><td colspan="3" align="center">No Data</td></tr>
    }        
    
</table>


@{
    double TotalPages = @ViewBag.TotalPages;
}
@for (int i = 1; i <= TotalPages; i++)
{
    if (i == ViewBag.Page)
    {
        <b>
            @Html.ActionLink(i.ToString() + " ", "Index",
                        new
                        {
                            SortOrder = ViewBag.SortOrderStatic,
                            SortBy = ViewBag.SortBy,
                            Page = i
                        })
        </b>
    }
    else
    {
        @Html.ActionLink(i.ToString() + " ", "Index",
                        new
                        {
                            SortOrder = ViewBag.SortOrderStatic,
                            SortBy = ViewBag.SortBy,
                            Page = i
                        })
    }   
}
